{% extends "header.html" %}


{% block content %}

  <body>

    <div class="container">

   <div class="jumbotron">
        <h1>Hi User! Have a nice day!</h1>
          <a href="https://www.accuweather.com/tr/us/new-york-ny/10007/weather-forecast/349727" class="aw-widget-legal">
          </a><div id="awcc1489353795193" class="aw-widget-current"  data-locationkey="" data-unit="c" data-language="tr" data-useip="true" data-uid="awcc1489353795193"></div><script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
        <p class="lead">Welcome to Nerede Yesek?</p>
      </div>
      
          <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Explore Restaurants</h2>
          <p>sth about restaurants </p>
          <p><a class="btn btn-default" href="#" role="button">Go! &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Grading</h2>
          <p>sth about grading </p>
          <p><a class="btn btn-default" href="#" role="button">Start Grading! &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Profile</h2>
          <p> sth about profile</p>
          <p><a class="btn btn-default" href="#" role="button">Edit Profile &raquo;</a></p>
        </div>
      </div>

    </div> <!-- /container -->

  </body>

  -->

{% endblock %}