{% extends "header.html" %}

{% block content %}

  <body>
    <div class="container">


   <form action="#" method = "post">
  <table id="usersTable" class="table">
	 <thead>
      <tr>
        <th>User Name</th>
        <th>First Name</th>
        <th>Surname</th>
        <th>E-mail</th>
      </tr>
    </thead>
	<tbody>
	{%if users%}
		{% for user in users %}
		<tr>
			<td class="UsersModelItem">{{user.userName}}</td>
			<td class="UsersModelItem">{{user.userFirstName}}</td>
			<td class="UsersModelItem">{{user.userSurname}}</td>
			<td class="UsersModelItem">{{user.userEmail}}</td>
			<td class="UsersTableItem"><a href="#">Delete</a>
			<td class="UsersTableItem"><a">Update</a>
		</tr>
		{% endfor %}
		{% endif %}
		</tbody>
	</table>
	</form>

    </div> <!-- /container -->


  </body>


{% endblock %}